* {
    margin: 0;
    padding: 0;
    font-family: serif;
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity));
}

html {
    scroll-behavior: smooth;
    background: rgb(249, 248, 243);
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    background: #c0c09e;
    padding: 10px 18px;
    text-decoration: none;
    letter-spacing: 0.1em;
    line-height: 22px;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.btn:hover {
    background: rgb(134, 134, 111);
}

.body-margin {
    margin: 0;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .body-margin {
        margin: 0px 25px;
    }
}

@media screen and (min-width: 768px) {
    .body-margin {
        margin: 0px 100px;
    }
}

.logo-header {
    display: flex;
    align-items: center;
}

.logo-name {
    margin-left: 24px;
    font-size: 2rem;
    color: rgb(95, 97, 90);
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(95, 97, 90);
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(134, 134, 111);
}

.hero {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.hero h1 {
    color: rgb(95, 97, 90);
}

.hero p {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: rgb(95, 97, 90);
}

.about-me-photos {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: bold;
}

.photos-container {
    background-color: rgb(241, 183, 153);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.photos-container img {
    height: 27rem;
}

.skills-title {
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}
.skills-group {
    display: flex;
    margin: 16px auto 0 auto;
    width: 80%;
    justify-content: space-between;
}

.skill {
    width: 8vw;
    height: 50vh;
    text-align: center;
    margin: 5vh 0;
}

.skills-title h1 {
    color: rgb(95, 97, 90);
}
.skill-heading {
    height: 23vh;
}

.skill-heading img {
    height: 100px;
}

.skill-heading h2 {
    margin-top: 20px;
}

.skill p {
    font-size: 18px;
    line-height: 1.2;
    color: rgb(95, 97, 90);
}

.tools-title {
    text-align: center;
    margin: 32px auto;
}

.tools-title h1 {
    color: rgb(95, 97, 90);
}

.tools-group {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 5rem auto 10rem auto;
}

.tools-group img {
    height: 50px;
    width: 50px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
    background-color: rgb(241, 230, 217);
    border-radius: 16px;
    height: 45vh;
    margin-bottom: 50px;
}
.contact-me h2 {
    margin-top: 20px;
    color: rgb(94, 95, 92);
}

.contact-me-fname-email {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border: none;
    font-size: 13px;
}

.contact-me-fname-email input {
    height: 2rem;
    width: 16vw;
    padding-left: 8px;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
}

.contact-form-submit {
    margin-top: 10px;
    width: 10rem;
    height: 48px;
    text-decoration: none;
    letter-spacing: 0.1em;
    border: none;
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-me textarea {
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 4px;
    height: 10rem;
    width: 35vw;
    background-color: white;
    text-align: left;
    color: rgb(26, 24, 24);
    font-family: serif;
    border: none;
    font-size: 1rem;
    margin-top: 25px;
    resize: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    left: 0;
    background-color: rgb(232, 215, 197);
    border-top: 2px solid rgb(255, 255, 255);
    width: 100%;
    margin-top: 100px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 20px 20px 20px;
    font-size: 20px;
}

footer p {
    text-align: center;
    padding: 20px;
    color: whitesmoke;
    font-style: normai;
    line-height: 22px;
    letter-spacing: 0.1em;
    font-size: 22px;
}
